<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="container">
      <table class="table">
        <thead>
          <th>first name</th>
          <th>last name</th>
          <th>email</th>
          <th>contact</th>
          <th>chinse level</th>
          <th>gender</th>
        </thead>
      </table>
    </div>
  </body>
</html>
