<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <body>
    <div class="container">
      <form action="/authenticate" method="post">
        <div class="imgcontainer">
          <img src="/images/login.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="reset" class="cancelbtn">Cancel</button>
          <span class="psw"><a href="/accounts">new account</a></span>
        </div>
      </form>
    </div>
  </body>
</html>
